.calendar-root {
  text-align: center;
}

.inner-calendar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
}

.error-border {
  border: solid red;
}

.block {
  cursor: pointer;
  max-height: 100px;
  min-width: 60px;
  margin-left: 1rem;
  height: 10vh;
  border: 1px solid transparent;
}

.selected-block {
  border-color: lightgreen;
  border-width: 3px;
}

.block:hover {
  border-color: lightgray;
}

.block > h4 {
  margin: 0;
}

.week-day-labels {
  border-bottom: 1px solid lightgray;
  margin-left: 1rem;
}

.day-sunday {
  color: red;
}

.task-list {
  display: flex;
  flex-direction: column;
}

.task-list span {
  font-size: x-small;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  text-align: left;
  white-space: nowrap;
  font-family: cursive;
  background-color: lightgray;
  border-radius: 1px;
  margin: 1px;
}

.task-dialog {
  position: absolute;
  left: 0;
  top: 50%;
  border: 2px gray solid;
  border-radius: 5px;
  background-color: lightgray;
}

@media only screen and (min-width: 500px) {
  .task-dialog-width {
    width: 60%;
  }
}

@media only screen and (max-width: 500px) {
  .task-dialog-width {
    width: 100%;
  }
}

.dialog-close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.dialog-todo-container {
  display: flex;
  flex-direction: column;
}

.dialog-todo-list {
  text-align: left;
  list-style: none;
}

.dialog-search-input {
  height: 30px;
  width: 70%;
  border-radius: 5px;
  font-size: medium;
  margin-right: 5px;
  padding-left: 5px;
}

.dialog-add-btn {
  background: transparent;
  border: none;
  transform: scale(3);
  cursor: pointer;
}
